div,img
{
	position:absolute;
}
.fontlato
{
font-family:Lato;
}
#font2
{
	font-family:Helvetica;color:#ABA9A9;font-size:16pt;font-family:Helvetica;color:#ABA9A9;font-size:16pt;
}

#title
{
	
	font-size: 90pt;
	font-family: Lato ;
	left: 45pt;
    top: 120pt;
}
.bars div
{
    height:10pt;
	    top:230pt;
	    	width:269.2pt;


}
#bar1 {
	border-left: 10pt solid #FE7F60;
	border-right:10pt solid #FE7F60;
    background:#FE7F60;   
    left:45pt;
}
#bar2 {
	border-left: 10pt solid #E4C714;
	
    background:#E4C714;
    left:331.9pt;
}
#bar3 {
	border-left: 10pt solid #14E4AE;
	
    background:#14E4AE;
    left:604.2pt;
}
#bar4 {
	border-left: 10pt solid #788DFD;
	
    background:#788DFD;
    left:860.4pt;
}

.rectangles
{
	background:#F9F9F9;
	left:0pt;
	z-index: -1;
	width:1200pt;

}
#rectangle1 {
    height:312pt; 
    top:466pt;

}
#rectangle2 {
    height:120pt;    
    top:1380pt;
  

}
#oval1 {
	
	      background: #FF9A9A;
	      left:424pt;
	      top:1005pt;

}
#oval2 {
	
	      background: #E4C714;
	      left:556pt;
	      top:1005pt;

}
#oval3 {
	
	      background: #59D3C5;
	      left:424pt;
	      top:1130pt;

}
#oval4 {
	
	      background: #8797EE;
	      left:556pt;
	      top:1130pt;
	
}
.ovals 
{
	font-family:Lato; 
	font-size:36pt;
	color:#ffffff;
}
.ovals div 
{

	border-radius :100%;
	height:100pt;
	width:100pt;
}